// Specific CSS for your home-page
.search {
  margin-top: 2rem;
}

.search input {
  width: 50%;
  display: inline-block;
}

.articles {
  margin-bottom: 50px;
}

@media (max-width: 575px) {
  // .gallery-grid {
  //   display: grid;
  //   grid-template-columns: 1fr;
  // }
}

@media (min-width: 576px) and (max-width: 768px) {
  // .articles {
  //   display: none;
  // }
}
