<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="https://www.ffbg.fr/" target="blank">ffbg</a>
  </div>
  <div class="footer-copyright">
    BrocéliandeBackgammonClub <i class="far fa-copyright"></i> 2020
  </div>
</div>

