<div class="navbar-bbgc d-flex justify-content-center align-items-center">
  <div class="navbar-side d-flex justify-content-around">
    <p class="">Le Club</p>
    <p class="">Les joueurs</p>
  </div>
  <%= image_tag  "logo_bbgc.png"%>
  <div class="navbar-side d-flex justify-content-around">
    <p class="">Contact</p>
    <p class="">forum</p>
  </div>
</div>
