<div class="navbar-bbgc d-flex justify-content-center align-items-center">
  <p class="border">Le Club</p>
  <p class="border">Les joueurs</p>
  <%= image_tag  "logo_bbgc.png"%>
  <p class="border">Contact</p>
  <p class="border">forum</p>
</div>
