.show-article {
  margin-top: 50px;
}
.article {
  width: 700px;
  margin: 20px auto;
  background-color: white;
  padding: 3rem 2rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  text-align: justify;
}

.photo-first-article {
  display: flex;
  justify-content: center;
  border: 2px solid white;
  &:hover {
    border: 2px solid $orange;
  }
}

.survol {
  height: 350px;
  width: 100%;
  object-fit: cover;
  // opacity: 0.8;
  &:hover {
    cursor: pointer;
    // opacity: 1;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }
}

.article-content {
  padding-top: 2rem;
}

.article-content h1 {
  padding-bottom: 2rem;
  margin-bottom: 0;
}

.paragraph h6 {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  padding-right: 1rem;
  border-bottom: 1px solid $orange;
}

.carousel-item img {
  height: auto;
  width: 100%;
  object-fit: cover;
  opacity: 1;
}

.previous-next {
  color: $bbgc;
  font-size: 55px;
}

.tool-bar-left {
  position: fixed;
  left: 30px;
  top: 50%;
}

.tool-bar-left-item {
  padding: 10px;
  font-size: 2rem;
  color: black;
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}

.end {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: right;
}

.back {
  color: black;
  opacity: 0.7;
  &:hover {
    color: black;
    text-decoration: none;
    opacity: 1;
  }
}

.tool-bar-hidden-item {
  display: none;
  color: black;
  font-size: 1.5rem;
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}

#trash {
  margin-left: 30px;
}

.review-part {
  margin: 30px 0px;
  background-color: #DDDDDD;
  text-align: center;
  padding: 4px 25px;
  opacity: 0.8;
}

@media (max-width: 992px) {
  .tool-bar-left-item {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .tool-bar-left-item {
    display: none;
  }
  .tool-bar-hidden-item {
    display: block;
  }
  .show-article {
    margin-left: 10px;
    margin-right: 10px;
  }
}
