.show-article {
  margin-top: 50px;
}
.article {
  width: 700px;
  margin: 20px auto;
  background-color: white;
  padding: 3rem 2rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  text-align: justify;
}

// .photo-first-article {
//   display: flex;
//   justify-content: center;
//   border: 2px solid white;
//   &:hover {
//     border: 2px solid $orange;
//   }
// }

#photo-link {
  height: 350px;
  width: 100%;
  background-position: center;
  background-size: cover;
  &:hover {
    cursor: pointer;
    // -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition-duration: 1s;
  }
}

.default-photo {
  height: 350px;
  width: 100%;
  object-fit: cover;
}

#text-see-photos {
  color: white;
  padding: 5px 15px;
  opacity: 0;
  border: 1px solid black;
  text-align: center;
  &:hover {
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
    opacity: 1;
    transition-duration: 1s;
  }
}

.article-content {
  padding-top: 2rem;
}

.article-content h1 {
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 2rem;
  margin-bottom: 0;
}

.tool-bar-paragraph i {
  color: black;
  margin-top: 1rem;
  opacity: 0.7;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}
.paragraph h6 {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.10rem;
  padding-right: 1rem;
  margin-top: 1rem;
  border-bottom: 1px solid $orange;
}

.paragraph-photo {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.paragraph img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.carousel-item img {
  height: auto;
  width: 100%;
  object-fit: cover;
  opacity: 1;
}

.previous-next {
  color: $bbgc;
  font-size: 55px;
}

.tool-bar-left {
  position: fixed;
  left: 30px;
  top: 50%;
}

.tool-bar-left-item {
  padding: 10px;
  font-size: 2rem;
  color: black;
  opacity: 0.7;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}

.end {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: right;
}

.back {
  color: black;
  opacity: 0.7;
  &:hover {
    color: black;
    text-decoration: none;
    opacity: 1;
  }
}

.tool-bar-hidden-item {
  display: none;
  color: black;
  font-size: 1.5rem;
  opacity: 0.7;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}

.marginleft {
  margin-left: 30px;
}


.review-part {
  margin: 30px 0px;
  background-color: #DDDDDD;
  text-align: center;
  padding: 4px 25px;
  opacity: 0.8;
}

@media (max-width: 992px) {
  .tool-bar-left-item {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .tool-bar-left-item {
    display: none;
  }
  .tool-bar-hidden-item {
    display: block;
  }
  .show-article {
    margin-left: 10px;
    margin-right: 10px;
  }
  .paragraph-photo {
  width: 80%;
  }
}

@media (max-width: 576px) {
  .paragraph-photo {
    width: 90%;
  }
  #photo-link {
    height: 250px;
  }
  .default-photo {
    height: 250px;
  }
}

@media (max-width: 375px) {
  .paragraph-photo {
    width: 100%;
  }
  .paragraph img {
    max-width: 250px;
    height: 100%
  }
  #photo-link {
    height: 200px;
  }
  .default-photo {
    height: 200px;
  }
  .article-content h1 {
    font-size: 2rem;
  }
}
