.login-signup {
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px
  }
}

.reset {
  font-size: 14px;
}


#contact-form {
  padding-top: 80px;
  padding-bottom: 80px;
}
#contact-form h2 {
  margin-bottom: 1.5rem;
}

textarea.form-control {
  height: 150px;
}


.edit-form {
  padding-top: 80px;
  padding-bottom: 80px;
  & textarea.form-control {
  height: 350px;
  }
}

.edit-form h2 {
  margin-bottom: 1.5rem;
}

textarea#review_content {
  font-size: 12px;
}

.review-form {
  display: none;
}
.paragraph-form {
  display: none;
}

.visible {
  display: block;
}
