.navbar-bbgc {
  background: white;
  padding-top: 10px;
}

.navbar-bbgc img {
  width: 110px;
}

.navbar-side {
  width: 300px;
}

.navbar-bbgc p {
  font-weight: lighter;
}

.icon-session {
 opacity: 0.8;
 padding-bottom: 1rem;
 margin-left: 1rem;
}
